################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/FoundryFiles/FileContentIndex
/.vs/FoundryFiles/v17
